{
    "alt-speed-down": {{ transmissiond_alt_speed_down }},
    "alt-speed-enabled": {{ transmissiond_alt_speed_enabled | lower }},
    "alt-speed-time-begin": {{ transmissiond_alt_speed_time_begin }},
    "alt-speed-time-day": {{ transmissiond_alt_speed_time_day }},
    "alt-speed-time-enabled": {{ transmissiond_alt_speed_time_enabled | lower }},
    "alt-speed-time-end": {{ transmissiond_alt_speed_time_end }},
    "alt-speed-up": {{ transmissiond_alt_speed_up }},
    "bind-address-ipv4": "{{ transmissiond_bind_address_ipv4 }}",
    "bind-address-ipv6": "{{ transmissiond_bind_address_ipv6 }}",
    "blocklist-enabled": {{ transmissiond_blocklist_enabled | lower }},
    "blocklist-url": "{{ transmissiond_blocklist_url }}",
    "cache-size-mb": {{ transmissiond_cache_size_mb }},
    "dht-enabled": {{ transmissiond_dht_enabled | lower }},
    "download-dir": "{{ transmissiond_download_dir }}",
    "download-limit": {{ transmissiond_download_limit }},
    "download-limit-enabled": {{ transmissiond_download_limit_enabled | lower }},
    "download-queue-enabled": {{ transmissiond_download_queue_enabled | lower }},
    "download-queue-size": {{ transmissiond_download_queue_size }},
    "encryption": {{ transmissiond_encryption }},
    "idle-seeding-limit": {{ transmissiond_idle_seeding_limit }},
    "idle-seeding-limit-enabled": {{ transmissiond_idle_seeding_limit_enabled | lower }},
    "incomplete-dir": "{{ transmissiond_incomplete_dir }}",
    "incomplete-dir-enabled": {{ transmissiond_incomplete_dir_enabled | lower }},
    "lpd-enabled": {{ transmissiond_lpd_enabled | lower }},
    "max-peers-global": {{ transmissiond_max_peers_global }},
    "message-level": {{ transmissiond_message_level }},
    "peer-congestion-algorithm": "{{ transmissiond_peer_congestion_algorithm }}",
    "peer-id-ttl-hours": {{ transmissiond_peer_id_ttl_hours }},
    "peer-limit-global": {{ transmissiond_peer_limit_global }},
    "peer-limit-per-torrent": {{ transmissiond_peer_limit_per_torrent }},
    "peer-port": {{ transmissiond_peer_port }},
    "peer-port-random-high": {{ transmissiond_peer_port_random_high }},
    "peer-port-random-low": {{ transmissiond_peer_port_random_low }},
    "peer-port-random-on-start": {{ transmissiond_peer_port_random_on_start | lower }},
    "peer-socket-tos": "{{ transmissiond_peer_socket_tos }}",
    "pex-enabled": {{ transmissiond_pex_enabled | lower }},
    "port-forwarding-enabled": {{ transmissiond_port_forwarding_enabled | lower }},
    "preallocation": {{ transmissiond_preallocation }},
    "prefetch-enabled": {{ transmissiond_prefetch_enabled | lower }},
    "queue-stalled-enabled": {{ transmissiond_queue_stalled_enabled | lower }},
    "queue-stalled-minutes": {{ transmissiond_queue_stalled_minutes }},
    "ratio-limit": {{ transmissiond_ratio_limit }},
    "ratio-limit-enabled": {{ transmissiond_ratio_limit_enabled | lower }},
    "rename-partial-files": {{ transmissiond_rename_partial_files | lower }},
    "rpc-authentication-required": {{ transmissiond_rpc_authentication_required | lower }},
    "rpc-bind-address": "{{ transmissiond_rpc_bind_address }}",
    "rpc-enabled": {{ transmissiond_rpc_enabled | lower }},
    "rpc-host-whitelist": "{{ transmissiond_host_whitelist }}",
    "rpc-host-whitelist-enabled": {{ transmissiond_host_whitelist_enabled | lower }},
    "rpc-password": "{{ transmissiond_rpc_password }}",
    "rpc-port": {{ transmissiond_rpc_port }},
    "rpc-url": "{{ transmissiond_rpc_url }}",
    "rpc-username": "{{ transmissiond_rpc_username }}",
    "rpc-whitelist": "{{ transmissiond_rpc_whitelist }}",
    "rpc-whitelist-enabled": {{ transmissiond_rpc_whitelist_enabled | lower }},
    "scrape-paused-torrents-enabled": {{ transmissiond_scrape_paused_torrents_enabled | lower }},
    "script-torrent-done-enabled": {{ transmissiond_script_torrent_done_enabled | lower }},
    "script-torrent-done-filename": "{{ transmissiond_script_torrent_done_filename }}",
    "seed-queue-enabled": {{ transmissiond_seed_queue_enabled | lower }},
    "seed-queue-size": {{ transmissiond_seed_queue_size }},
    "speed-limit-down": {{ transmissiond_speed_limit_down }},
    "speed-limit-down-enabled": {{ transmissiond_speed_limit_down_enabled | lower }},
    "speed-limit-up": {{ transmissiond_speed_limit_up }},
    "speed-limit-up-enabled": {{ transmissiond_speed_limit_up_enabled | lower }},
    "start-added-torrents": {{ transmissiond_start_added_torrents | lower }},
    "trash-original-torrent-files": {{ transmissiond_trash_original_torrent_files | lower }},
    "umask": {{ transmissiond_umask }},
    "upload-limit": {{ transmissiond_upload_limit }},
    "upload-limit-enabled": {{ transmissiond_upload_limit_enabled | lower }},
    "upload-slots-per-torrent": {{ transmissiond_upload_slots_per_torrent }},
    "utp-enabled": {{ transmissiond_utp_enabled | lower }}
}
