{
    "alt-speed-down": {{ alt_speed_down }},
    "alt-speed-enabled": {{ alt_speed_enabled | lower }},
    "alt-speed-time-begin": {{ alt_speed_time_begin }},
    "alt-speed-time-day": {{ alt_speed_time_day }},
    "alt-speed-time-enabled": {{ alt_speed_time_enabled | lower }},
    "alt-speed-time-end": {{ alt_speed_time_end }},
    "alt-speed-up": {{ alt_speed_up }},
    "bind-address-ipv4": "{{ bind_address_ipv4 }}",
    "bind-address-ipv6": "{{ bind_address_ipv6 }}",
    "blocklist-enabled": {{ blocklist_enabled | lower }},
    "blocklist-url": "{{ blocklist_url }}",
    "cache-size-mb": {{ cache_size_mb }},
    "dht-enabled": {{ dht_enabled | lower }},
    "download-dir": "{{ download_dir }}",
    "download-limit": {{ download_limit }},
    "download-limit-enabled": {{ download_limit_enabled | lower }},
    "download-queue-enabled": {{ download_queue_enabled | lower }},
    "download-queue-size": {{ download_queue_size }},
    "encryption": {{ encryption }},
    "idle-seeding-limit": {{ idle_seeding_limit }},
    "idle-seeding-limit-enabled": {{ idle_seeding_limit_enabled | lower }},
    "incomplete-dir": "{{ incomplete_dir }}",
    "incomplete-dir-enabled": {{ incomplete_dir_enabled | lower }},
    "lpd-enabled": {{ lpd_enabled | lower }},
    "max-peers-global": {{ max_peers_global }},
    "message-level": {{ message_level }},
    "peer-congestion-algorithm": "{{ peer_congestion_algorithm }}",
    "peer-id-ttl-hours": {{ peer_id_ttl_hours }},
    "peer-limit-global": {{ peer_limit_global }},
    "peer-limit-per-torrent": {{ peer_limit_per_torrent }},
    "peer-port": {{ peer_port }},
    "peer-port-random-high": {{ peer_port_random_high }},
    "peer-port-random-low": {{ peer_port_random_low }},
    "peer-port-random-on-start": {{ peer_port_random_on_start | lower }},
    "peer-socket-tos": "{{ peer_socket_tos }}",
    "pex-enabled": {{ pex_enabled | lower }},
    "port-forwarding-enabled": {{ port_forwarding_enabled | lower }},
    "preallocation": {{ preallocation }},
    "prefetch-enabled": {{ prefetch_enabled | lower }},
    "queue-stalled-enabled": {{ queue_stalled_enabled | lower }},
    "queue-stalled-minutes": {{ queue_stalled_minutes }},
    "ratio-limit": {{ ratio_limit }},
    "ratio-limit-enabled": {{ ratio_limit_enabled | lower }},
    "rename-partial-files": {{ rename_partial_files | lower }},
    "rpc-authentication-required": {{ rpc_authentication_required | lower }},
    "rpc-bind-address": "{{ rpc_bind_address }}",
    "rpc-enabled": {{ rpc_enabled | lower }},
    "rpc-password": "{{ rpc_password }}",
    "rpc-port": {{ rpc_port }},
    "rpc-url": "{{ rpc_url }}",
    "rpc-username": "{{ rpc_username }}",
    "rpc-whitelist": "{{ rpc_whitelist }}",
    "rpc-whitelist-enabled": {{ rpc_whitelist_enabled | lower }},
    "scrape-paused-torrents-enabled": {{ scrape_paused_torrents_enabled | lower }},
    "script-torrent-done-enabled": {{ script_torrent_done_enabled | lower }},
    "script-torrent-done-filename": "{{ script_torrent_done_filename }}",
    "seed-queue-enabled": {{ seed_queue_enabled | lower }},
    "seed-queue-size": {{ seed_queue_size }},
    "speed-limit-down": {{ speed_limit_down }},
    "speed-limit-down-enabled": {{ speed_limit_down_enabled | lower }},
    "speed-limit-up": {{ speed_limit_up }},
    "speed-limit-up-enabled": {{ speed_limit_up_enabled | lower }},
    "start-added-torrents": {{ start_added_torrents | lower }},
    "trash-original-torrent-files": {{ trash_original_torrent_files | lower }},
    "umask": {{ umask }},
    "upload-limit": {{ upload_limit }},
    "upload-limit-enabled": {{ upload_limit_enabled | lower }},
    "upload-slots-per-torrent": {{ upload_slots_per_torrent }},
    "utp-enabled": {{ utp_enabled | lower }}
}
